<fieldset>
    <legend>Ваша проверка</legend>

    <div class="wagtailreview-respond-form__radios">
        {% for radio in response_form.result %}
            {{ radio }}
        {% endfor %}
    </div>

    <div class="wagtailreview-respond-form__comment">
        <label for="id_comment">Оставить комментарий</label>
        {{ response_form.comment }}
    </div>

    <div class="wagtailreview-respond-form__submit">
        <input type="submit" value="Отправить" id="submit" />
    </div>
</fieldset>
